p {
    font-family: 'Segoe UI', 'Arial', sans-serif;
    font-size: 1.2em;
    margin: 5em 30vw 1em 8vw;
}

#paragraph {
    border: 2px solid;
    padding: 1em;
}

#changeText {
    display: block;
    margin: 1em 0 2em 8vw;
}

h2 {
    margin: 1.5em 0 1em 8vw;
}

table, th, td{
    border-width: thin;
    border-style: solid;
    border-color: aqua;
}

#third {
    color: green;
    text-shadow: black 3px 3px 3px;
}

.large {
    font-size: 1em;
}

.logo {
    width: 150px;
    height: 50px;
}

form, ul, #greetMessage {
    margin: 1em 30vw 2em 8vw;
}

#greetMessage {
    border-radius: 8px;
    padding: 0.75em 1.5em;
}

#padding {
    padding: 1em;
}

.blackOutline {
    border: 1px solid black;
}