<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Eric</title>
</head>
<body>
    <h1>Eric Ji</h1>

    <!-- Table of courses and semesters -->
    <h2>Courses I Took</h2>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT408C</td>
            <td>Fall 2025</td>
        </tr>
        <tr>
            <td>CMSC351</td>
            <td>Fall 2024</td>
        </tr>
        <tr>
            <td>CMSC250</td>
            <td>Fall 2023</td>
        </tr>
    </table>

    <h2>Fun facts about me</h2>
    <p>I enjoy programming in a lot of different <strong>languages</strong>>.
        However, my main language is <em>python</em>.
        I also like to make personal project that work in the real world like 3-d printing</p>

    <h2>What I like to eat</h2>

    <p>
        Ever since I was a kid, I liked to try out new foods. As I got older, I tried to go to new
        restaurants and try out the different cuisines that the food had to offer. I've come a long way,
        but something still stay the same, as some of my <strong>favorite</strong> foods are:
    </p>

    <ul>
        <li>pasta</li>
        <li>hamburgers</li>
        <li>pizza</li>
    </ul>
    and while I like each of them individually, if i had to rank how much i like each one of them.
    I would rank them like <em>this</em>
    <ol>
        <li>pasta</li>
        <li>pizza</li>
        <li>hamburgers</li>
    </ol>

    <!--  -->
    <a href="/hello">Hello Page</a>

    <!-- Favorite websites -->
    <p>
        My favorite websites:
        <a href="https://www.youtube/">Youtube</a>,
        <a href="https://www.github.com/" target="_blank" rel="noopener">GitHub (opens in new tab)</a>
    </p>

    <!-- QUEST logo image -->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt408c/images/quest-logo.png" alt="QUEST Logo" width="150" height="50">

</body>
</html>